<%- include('header') %>
<form method='GET' action='/cotacao'>
    <input name='cotacao' placeholder="Cotação dolar" value="<%= cotacao %>" required>
    <input name='quantidade' placeholder="Quantidade de dolares" required>
    <button>Converter</button>
</form>

<%- include('footer') %>