body{
    text-align: center;
}

.box{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 img {
    width: 469px;
    margin: 20px;
}

.result{
    padding: 10px;
    border: 1px solid #d8d8d8;
    background: #fdfdfd;
}